<br><br><br><br>
<script type="text/javascript">
    $().ready(function () {
        /***
        Permite validar datos de los form
        */
        validarRegistroPersona();
    });
</script>
<section class="login_box_area ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>¿Nuevo en nuestro sitio web?</h4>
							<p>Todos los días se hacen avances en ciencia y tecnología, y un buen ejemplo de esto es el</p>
							
							<a class="button button-account" href="/Regitro" >Crea una cuenta</a>
						
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					{{> msg}}
					<div class="login_form_inner">
						<h3>INICIA SESIÓN PARA INGRESAR</h3>
						<form class="row login_form" id="formInicio"  method="POST" action="/inicio_sesion" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="correoInicio" name="correoInicio" placeholder="Correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo electronico'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="claveInicio" name="claveInicio" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Clave'">
							</div>
							{{!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Mantenme conectado</label>
								</div>
							</div> --}}
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login  w-100">Ingresar</button>
								{{!-- <a href="#" >¿Se te olvido tu contraseña?</a> --}}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

<br><br><br>



 