<script>
  $(document).ready(function () {
    buscar();
  });

</script>
<div class="container">
  <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      </div>
      <h3 class="title text-center mb-2">{{title}} </h3>
      <div class="input-group col-md-10">
        <input type="text" name="texto" id="texto" class="form-control" placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" id="buscar"><i class="fa fa-search" aria-hidden="true"> Buscar</i></button>
        </div>
      </div><br>
      {{!-- <section class="lattest-product-area pb-40 category-list" id="datos"> --}}
      <div class="row form-group" id="datos">
        {{#each listaA as |listadoAr i|}}
        <div class="col-md-4 col-lg-3">
          <div class="card  text-center card-product mb-3" ><!--style="max-width: 18rem; max-height: 25rem;"-->
            <div class="card-product__img">
              <img class="card-img" src="/images/uploads/{{listadoAr.portada}}" class="rounded mx-auto d-block" style=" height:180px;" alt="">
              <ul class="card-product__imgOverlay">
                <li><button data-target="#detalle" data-toggle="modal" onclick="cargarGaleria('{{listadoAr.external_id}}')"><i class="ti-search"></i></button></li>
                <li><button name="external" onclick="return agregarItem('{{listadoAr.external_id}}')"><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>{{listadoAr.categoria.nombre}}</p>
              <h4 class="card-product__title"><a href="#"> {{listadoAr.nonbre}}</a></h4>
              <p class="card-product__price"><b>Precio: </b>${{listadoAr.precio}}<br><b>Quedan: </b>{{listadoAr.stok}} unidades</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{!-- </section> --}}
    </div>
  </section>
</div>
<!--//gallery -->
<div>
  {{> 'articulo/detalle'}}
</div>