{{!-- <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style> --}}
<div class="modal fade" id="detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-top: 20px">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title font-weight-bold" id="exampleModalScrollableTitle">Detalle Articulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-8 col-xs-12">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators" id="ulindicador">
                                {{!-- <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li> --}}
                            </ul>
                            <!-- The slideshow -->
                            <div class="carousel-inner" id="divinner">
                                {{!-- <div class="carousel-item active">
                                    <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img src="ny.jpg" alt="New York" width="1100" height="500">
                                </div> --}}
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-8 col-xs-12  align-self-left">
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                            {{!-- <div class="card-header bg-transparent border-success">
                                
                            </div> --}}
                            <div class="card-body text-success">
                                <h5 class="card-title">
                                    <h2 class="section-title-underline mb-5" id="nombre"></h2>
                                </h5>
                                <input type="hidden" name="externalArticulo" id="externalArticulo">
                                <label for="tamanio">Tamaño: </label>
                                <p class="card-text" id="tamanioArt"> </p>
                                <label for="descripcion">Descripción: </label>
                                <p class="card-text" id="descripcionArt"></p>
                                <label for="stock">Stock: </label>
                                <p class="card-text" id="stockArt"></p>
                                <label for="precio">Precio: </label>
                                <p class="card-text" id="precioArt"></p>
                            </div>
                            <div class="card-footer bg-transparent border-success">
                                <button value="0" id="btnExternal" type="button" class="btn btn-primary" onclick="return agregarItem(this.value)"> Añadir carrito <i class="fas fa-cart-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>