<script>
  $(document).ready(function () {
    buscaServicio()
  });

</script>
<div class="container">
  <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      </div>
      <h3 class="title text-center mb-2">{{title}} </h3>
      <div class="input-group col-md-8">
        <input type="text" name="texto" id="texto" class="form-control" placeholder="Buscar">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" id="buscar"><i class="fa fa-search" aria-hidden="true"> Buscar</i></button>
        </div>
      </div><br>
      <div class="row form-group" id="datos">
        {{#each listado as |listad i|}}
        <div class="col-md-4 col-lg-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="/images/uploadsServicio/{{listad.portada}}" class="rounded mx-auto d-block" style=" height:180px;" alt="">
              <ul class="card-product__imgOverlay">
                <li><button type="button" data-target="#detalle" data-toggle="modal" onclick="cargarImagenesServicio('{{listad.external_id}}')"><i class="ti-search"></i></button></li>
                <li><button name="external" onclick="return agregarServicio('{{listad.external_id}}')"><i class="ti-shopping-cart"></i></button></li>
                <li><button><i class="ti-heart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>{{listad.categoria}} </p>
              <h4 class="card-product__title"><a href="#"> {{listad.nombre}}</a></h4>
              <p class="card-product__price"><b>Precio: </b>${{listad.precio}}<br><b>Medida: </b>{{listad.medida}} metros</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>
{{> 'servicio/detalle'}}
<!--//service -->