<!--Agregar persona--->
<div class="modal fade" id="agregarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content " style="background: #EFF7F1">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title font-weight-bold" id="exampleModalScrollableTitle">Registro <i class="fas fa-user-plus"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="idformulario" name="idformulario" method="POST" action="/Administra/clientes/guardar">
                    <div id="error"></div>
                    <div class="info"></div>
                    <div>
                        <label class="badge badge-danger">Datos generales</label>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="cedula">Cedula</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                <input type="text" class="form-control" placeholder="Cedula..." name="txtcedula" id="cedula" maxlength="10" onkeypress="return validaNumero(event)">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="nombres">Nombres</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-info"></i></span>
                                <input type="text" class="form-control" placeholder="Nombre..." name="txtnombre" id="txtnombre" onkeypress="return validaletra(event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="Apellidos">Apellidos</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-info"></i></span>
                                <input type="text" class="form-control" placeholder="Apellido..." name="txtapellido" id="txtapellido" onkeypress="return validaletra(event)">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="telefono">Telefono</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                <input type="text" class="form-control" placeholder="Telefono..." name="txttelefono" id="txttelefono" onkeypress="return validaNumero(event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="direccion">Direccion</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                <input type="text" class="form-control" placeholder="Direccion..." name="txtdireccion" id="txtdireccion">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="Celular">Celular</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                <input type="text" class="form-control" placeholder="Celular..." name="txtcelular" id="txtcelular" onkeypress="return validaNumero(event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="rol">Rol</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                                <select class="form-control" name="txtrol" id="txtrol">
                                    {{#each listaR as |listados i|}}
                                    <option value="{{listados.external_id}}"> {{listados.nombre}} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="badge badge-danger">Datos cuenta</span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="correo">Correo</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-at"></i></span>
                                <input type="email" class="form-control" placeholder="Email..." name="txtcorreo" id="textcorreo">
                            </div><br>
                            <label class="control-label" for="usuario">Nombre usuario</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario..." name="usser">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label" for="contrasenia">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña..." name="clave" id="clave" maxlength="10" >
                                <div class="input-group-append">
                                    <button class="btn btn-danger" data-tooltip="tooltip" data-placement="top" title="Ver contraseña" id="verContrasenia" type="button"><i class=""></i></button>
                                </div>
                            </div><br>
                            <label class="control-label" for="repetircontrasenia"> Verificar Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña..." name="clave1" id="clave1" maxlength="10">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" data-tooltip="tooltip" data-placement="top" title="Ver contraseña" id="verContraseniag" type="button"><i class=""></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <a href="/Administra/clientes" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>

        </div>
    </div>
</div>
<!--Finaliza agregar persona--->