<script type="text/javascript">
    $().ready(function () {
        /***
        Permite validar datos de los form
        */
        validarRegistroPersona();
    });
</script>
<div class="row">
    <div class="col-12">
        {{> 'vistaAdministrador/Persona/modificarCliente'}}
        {{> 'vistaAdministrador/Persona/agregarcliente'}}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuario
                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#agregarCliente">Registrar Usuario <i class="fas fa-user-plus"></i></a></h3>
            </div>
        </div>
        <!-- /.card -->

        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="card-title">Lista Usuarios</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="listaCliente" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Cedula</th>
                            <th>Nombres</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listado as |listas i|}}
                        <tr>
                            <th scope="row">
                                {{i}}
                            </th>
                            <td>
                                {{listas.cedula}}
                            </td>
                            <td>
                                {{listas.nombres}} {{listas.apellidos}}
                            </td>
                            <td>
                                {{listas.direccion}}
                            </td>
                            <td>
                                {{listas.telefono}}
                            </td>
                            <td>
                                {{#if listas.estado}}
                                <span class="badge badge-success">Activo</span>
                                {{else}}
                                <span class="badge badge-danger">Inactivo</span>
                                {{/if}}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="#" data-toggle="modal" data-target="#modificarCliente" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary btn-sm" onclick="cargardatosPersona('{{listas.external_id}}')"><i class="far fa-edit"></i></a>
                                </div>
                                <div class="btn-group">
                                    {{#if listas.estado}}
                                    <a href="#" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Desactivar" class="btn btn-danger btn-sm" onclick="desactivarPersona('{{listas.external_id}}')"><i class="fas fa-unlock-alt"></i></a>
                                    {{else}}
                                    <a href="#" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="Acivar" class="btn btn-danger btn-sm" onclick="desactivarPersona('{{listas.external_id}}')"><i class="fas fa-lock"></i></a>
                                    {{/if}}
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
